.vscode/**
# bakcgroundColors.json and textColors.json are seperated versions of ansiColors.json for better readability, they are not used in the extension.
snippets/backgroundColors.json
snippets/textColors.json